.project-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  text-align: center;
  width: 500px;
  & > svg {
    flex: 2;
  }
  & > main {
    box-shadow: rgba(0,0,0,0.2) 0 4px 16px 6px;
    flex: 1;
    width: 100%;
    h1 {
      color: #fff;
      + p {
        color: #fff;
      }
    }
  }
}
